#redPartPokeball, #whitePartPokeball {
   transform-origin: center;
}

.searchContainer {
   height: 32px;
   transition: all ease 10s;

}

.searchContainerRotate {
   animation: rotatePokeball 1s;
}

.searchContainerRotateinitial {
   animation: rotatePokeballInitial 1s;

}

#redPartPokeball, #whitePartPokeball {
   /* rotate: -90deg; */
   /* border: 1px solid red; */
}

#searchInput {
   font-size: 16px;
   width: 0px;
   height: 100%;
   text-align: center;
   background-color: transparent;
   /* padding: 8px; */
   border: none;
   outline: none;
   font-family: 'Pokemon Solid';
   letter-spacing: 4px;
   /* border: 1px solid red; */
   -webkit-text-stroke: 1px var(--BluePokemon);
   /* /border: 1px solid #3E5DB3; */
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   animation: showInput 1s forwards !important;
   /* animation-fill-mode: forwards; */
   /* rotate: 180deg; */
}

#searchInput::placeholder {
   color: var(--InsidePokeball03);
   font-weight: bold;
   -webkit-text-stroke: 0;
}

.hiddenInputSearch {
   animation: hiddenInput linear 1s !important;
}

.cardContainer {
   width: 100%;
   height: 100%;
   border: 1px solid green;
}

.card-Blue01Gradient, .card-Blue02Gradient, .card-RBW01Gradient, .card-RBW02Gradient {
   position: relative;
   transition: all ease .75s;
}

.card-Blue01Gradient::before {
   content: "";
   position: absolute;
   inset: 0;
   border-radius: 8px;
   padding: 2px;
   background: var(--Blue01Gradient);
   -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
   -webkit-mask-composite: xor;
   mask-composite: exclude;
}

.card-Blue02Gradient::before {
   content: "";
   position: absolute;
   inset: 0;
   border-radius: 8px;
   padding: 2px;
   background: var(--Blue02Gradient);
   -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
   -webkit-mask-composite: xor;
   mask-composite: exclude;
}

.card-RBW01Gradient::before {
   content: "";
   position: absolute;
   inset: 0;
   border-radius: 8px;
   padding: 2px;
   background: var(--RBW01Gradient);
   -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
   -webkit-mask-composite: xor;
   mask-composite: exclude;
}

.card-RBW02Gradient::before {
   content: "";
   position: absolute;
   inset: 0;
   border-radius: 8px;
   padding: 2px;
   background: var(--RBW02Gradient);
   -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
   -webkit-mask-composite: xor;
   mask-composite: exclude;
}

.card {
   width: 150px;
   height: 206px;
   font-family: 'Roboto';
   cursor: pointer;
   transition: all .75s;
}

/* .card:hover {
   background: var(--Blue02Gradient);
} */

.card-photo {
   /* width: 81px; */
}

.card-photo img {
   width: 65px;
   height: 65px;
}

.card-infos {
   height: auto;
}

.card-name p:nth-child(2) {
   font-size: 14px;
}

.cart-pokemon-type {
   width: 24px;
   height: 24px;
}

@keyframes rotatePokeball {
     0% { rotate:   0deg; }
    10% { rotate:  -5deg; }
    20% { rotate: -10deg; }
    30% { rotate: -20deg; }
    40% { rotate: -30deg; }
    50% { rotate: -40deg; }
    60% { rotate: -50deg; }
    70% { rotate: -60deg; }
    80% { rotate: -70deg; }
    90% { rotate: -80deg; }
   100% { rotate: -90deg; }
}

@keyframes rotatePokeballInitial {
     /* 0% { rotate: -90deg; }
    10% { rotate: -80deg; }
    20% { rotate: -70deg; }
    30% { rotate: -60deg; }
    40% { rotate: -50deg; }
    50% { rotate: -40deg; }
    60% { rotate: -30deg; }
    70% { rotate: -20deg; }
    80% { rotate: -10deg; }
    90% { rotate:  -5deg; }
   100% { rotate:   0deg; } */
   0%  { rotate: 90deg; }
   10% { rotate: 80deg; }
   20% { rotate: 70deg; }
   30% { rotate: 60deg; }
   40% { rotate: 50deg; }
   50% { rotate: 40deg; }
   60% { rotate: 30deg; }
   70% { rotate: 20deg; }
   80% { rotate: 10deg; }
   90% { rotate:  5deg; }
  100% { rotate:  0deg; }
}

@keyframes showInput {
   0%  { width:   0px; }
   10% { width:  20px; }
   20% { width:  40px; }
   30% { width:  60px; }
   40% { width:  80px; }
   50% { width: 100px; }
   60% { width: 120px; }
   70% { width: 140px; }
   80% { width: 160px; }
   90% { width: 180px; }
  100% { width: 200px; }
}

@keyframes hiddenInput {
     0% { width: 200px; }
    10% { width: 180px; }
    20% { width: 160px; }
    30% { width: 140px; }
    40% { width: 120px; }
    50% { width: 100px; }
    60% { width:  80px; }
    70% { width:  60px; }
    80% { width:  40px; }
    90% { width:  20px; }
   100% { width:   0px; }
}